body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  list-style: none;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.container header {
  width: 100%;
  background-color: white;
  display: flex;
  /* 헤더 안에 모든 것은 가운데 정렬 */
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
}

.container header .navigation {
  height: 75px;
  width: 70%;
  background-color: rgb(255, 255, 255);

  display: flex;
  /* 헤더 안에 모든 것은 가운데 정렬 */
  align-items: center;
  /* 양 옆으로 정렬 */
  justify-content: space-between;
  /* justify-content: space-around; */
}

.container header .navigation img {
  height: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container header .navigation .menu_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.container header .navigation .menu_container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 16px;
  background-color: rgb(141, 109, 109);
  padding-left: 0px;
}

.container header .navigation .menu_container > ul {
  /* display: inline-block; */
  /* padding: 0 -10px; */
  /* border-radius: 10px; */
}

.container header .navigation .menu_container > ul > li {
  /* width: 100px; */
  display: block;
}

.container header .navigation .menu_container ul > li {
  position: relative;
}

.container header .navigation .menu_container > ul ul {
  width: 80%;
  display: none;
  position: absolute;
  /* top: 100%; */
  /* left: -20%; */
  list-style: none;
}

.container header .navigation .menu_container ul > li > a {
  width: 180px;
  display: block;
  padding: 10px;
  white-space: nowrap;
}

.container header .navigation .menu_container ul > li:hover > a {
  background-color: rgb(102, 102, 102);
  color: white;
}

.container header .navigation .menu_container ul > li:hover > ul {
  width: 100%;
  display: block;
  list-style: none;
}

/* 3뎁스 메뉴 위치 */
.container header .navigation .menu_container > ul ul ul {
  width: 100%;
  left: 100%;
  top: 0;
  list-style: none;
}
