body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.container header {
  width: 100%;
  background-color: white;
  display: flex;
  /* 헤더 안에 모든 것은 가운데 정렬 */
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
}

.container header .navigation {
  height: 75px;
  width: 70%;
  background-color: rgb(255, 255, 255);

  display: flex;
  /* 헤더 안에 모든 것은 가운데 정렬 */
  align-items: center;
  /* 양 옆으로 정렬 */
  justify-content: space-between;
  /* justify-content: space-around; */
}

.container header .navigation img {
  height: 60px;
}

.container header .navigation .menu_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container header .navigation .menu_container .menu {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  /* padding: 0 20px; */
  font-size: 16px;
}

.container header .navigation .menu_container .menu {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  /* padding: 0 20px; */
  font-size: 16px;
}

.container header .navigation .menu_container .menu span {
  width: 100%;
  /* 경계선 */
  border-right: 1px solid rgb(185, 184, 184);
  text-align: center;
}

/* 이미지 슬라이더 */
.container .slideshow_container {
  width: 100vw;
}

.container .slideshow_container .imagaSlider {
}

/* 메인 컨텐츠 */
.container .MainContents_container {
  width: 100vw;
  height: 1000px;
}

.container .footer {
  width: 100vw;
  /* border-top: 5px solid rgb(43, 43, 43); */
  background-color: rgb(218, 218, 218);
  display: flex;
  flex-direction: row;
  margin: auto;
}

.container .footer .footer_presenter-info {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.container .footer .footer_contact {
  display: block;
  margin: auto;
}

.container .footer .footer_links {
  display: block;
  margin: auto;
}
